@import "./settings/settings";
@import "./pages/home";
@import "./pages/element";
@import "./components/table";
@import "./components/navigations";

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(0, 0, 0);
    background-attachment: fixed;
    color: white;
}

button:hover {
    cursor: pointer;
}


