
.navbar {
    width: 90%;
    margin: 0 auto 20px auto;
    display: flex;
    justify-content: center;
  }
  
  .navigation-list {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    flex-grow: 1;
    padding: 20px;
    background-color: #1f1f1f;
    border: none;
    color: #00ff00;

    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .nav-item.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .nav-item:not(.disabled):hover {
    background-color: #6c38c4;
    color: #74ff74;
  }
  
  .neon-border {
    display: flex;
    width: 100%;
    overflow: hidden;
    background-color: #1f1f1f;
    border-radius: 7px;
    border: 1px solid #00ff00;
    box-shadow: 0 0 10px #6c38c4, 0 0 10px #6c38c4, 0 0 10px #6c38c4, 0 0 10px #6c38c4;
    transition: border-color 0.5s, box-shadow 0.5s;
  }
  