.container-table {
  margin: 0 auto;
  width: 95%;

  .periodicTable {
    display: flex;
    color: black;
    min-width: 100%;
    justify-content: center;
    align-items: flex-end;

    .tableColumn {
      margin: 0;

      .element {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #f2f2f2;
        border-radius: 5px;
        padding: 5px;
        margin: 3px;
        font-size: 10px;
        height: 60px;
        width: 60px;
        opacity: 0.6;

        &:not(.empty) {
          &:hover {
            opacity: 1;
            box-shadow: 0 0 17px #6c38c4;
            cursor: pointer;
          }
        }

        &.nonmetal {
          background-color: #ff5252;
        }

        &.noble-gas {
          background-color: #ff4081;
        }

        &.alkali-metal {
          background-color: #ff669d;
        }

        &.alkaline-earth-metal {
          background-color: #ff8cc1;
        }

        &.metalloid {
          background-color: #ffabf2;
        }

        &.halogen {
          background-color: #9c6eff;
        }

        &.metal {
          background-color: #536dfe;
        }

        &.transition-metal {
          background-color: #4ae8b0;
        }

        &.lanthanoid {
          background-color: #69f0ae;
          color: #e8cffd;
        }

        &.actinoid {
          background-color: #b2ff59;
          color: #e8cffd;
        }

        &.post-transition-metal {
          background-color: #eeff41;
        }

        .symbol {
          font-weight: bold;
        }

        .name {
          text-align: center;
          font-size: 11px;
          max-height: 3em;
        }

        .atomicNumber,
        .atomicMass {
          text-align: center;
          font-size: 11px;
          max-height: 3em;
        }
      }

      .lanthanides,
      .actinides {
        background-color: rgb(136, 0, 136);
        color: rgb(232, 207, 253);
        width: 60px;
        display: flex;

        align-items: center;
        justify-content: center;
        text-align: center;

        .rotate-text {
          transform: rotate(45deg);
          display: inline-block;
          font-weight: 800;
        }
      }

      .empty {
        opacity: 0;
      }
    }
  }
}
